<center>
    <form method="POST">
        <label>Enter Standard Deviation of Population/Sample: </label>
        <input name='S'><br>
        <label>Enter Sample Size: </label>
        <input name='n'><br>
        <label>Enter Population mean(not in Percentage): </label>
        <input name='u'><br>
        <label>Enter Sample mean(not in Percentage): </label>
        <input name='X'><br>
        <label>Enter alpha(0-1): </label>
        <input name='alpha'><br>
        <input type='submit'>
    </form>
</center>