<!DOCTYPE html>
<html>
  <head>
    <title>P-Value Testing Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
<body>
    <div class='jumbotron text-center'>
        <h1>P-Value Testing Example</h1>
        <p>by Addicted</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class='col-sm-4'>
                <form method="POST">
                    <label>Enter Standard Deviation of Population/Sample: </label>
                    <input name='S' class="form-control" type="number" step='any' min=0 required><br>
                    <label>Enter Sample Size:                             </label>
                    <input name='n' class="form-control" type="number" step=1 min=0 required><br>
                    <label>Enter Population mean(not in Percentage):      </label>
                    <input name='u' class="form-control" type="number" step='any' required><br>
                    <label>Enter Sample mean(not in Percentage):          </label>
                    <input name='X' class="form-control" type="number" step='any' required><br>
                    <label>Enter alpha(0-1):                              </label>
                    <input name='alpha' class="form-control" type="number" step='any' min=0 max=1 value=0.05 required><br>
                    <input type='submit' class="btn btn-secondary" value="Calculate">
                </form>
            </div>
            <div class='col-sm-4'>
                        {% autoescape false %}
                        {{ op }}
                        {% endautoescape %}
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>